@model IEnumerable<HoursPMO.Models.WeekPerUserPerProject>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@using (Html.BeginForm())
{ <p> Week: @Html.TextBox("SearchString1") </p>
    <p> Year: @Html.TextBox("SearchString2") <input type="submit" value="Search" /></p> }
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Project.ProjectName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FTO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leaves)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Possible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actual)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Billable)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkingDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WeekNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Project.ProjectName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FTO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leaves)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Possible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Actual)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Billable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkingDays)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeekNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.WeekPerUserPerProjectID }) |
            @Html.ActionLink("Details", "Details", new { id=item.WeekPerUserPerProjectID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.WeekPerUserPerProjectID })
        </td>
    </tr>
}

</table>
