@model IEnumerable<HoursPMO.ViewModels.ProjectGroup>
@{
    ViewBag.Title = "MonthReportSelect";
}

<h2>MonthReportSelect</h2>

@using (Html.BeginForm())
{ <p> Month: @Html.TextBox("MonthNoSelectedString") </p>
    <p> Year: @Html.TextBox("YearSelectedString") <input type="submit" value="Search" /></p> }
<p>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Project.ProjectName)
                @*            ProjectID*@
            </th>
            <th>
                FTO Sum
            </th>
            <th>
                Leaves
            </th>
            <th>
                Possible
            </th>
            <th>
                Actual
            </th>
            <th>
                Billable
            </th>
            <th>
                WorkingDays
            </th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Project.ProjectName)
                </td>
                <td>
                    @item.FTOSum
                </td>
                <td>
                    @item.LeavesSum
                </td>
                <td>
                    @item.PossibleSum
                </td>
                <td>
                    @item.ActualSum
                </td>
                <td>
                    @item.BillableSum
                </td>
                <td>
                    @item.WorkingDaysSum
                </td>
            </tr>
        }
    </table>
